<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
    <title>Sign Up</title>
</head>
<body>
<p th:text="${errorMsg}" style="color:red"></p>
<form method='post' action="/user">

    <label>Name:
    <input type="text" th:field ="${user.username}"/>

    <p class="errors" th:errors="${user.username}" style="color:red"></p>
    </label><br>
    <label>Email:
        <input type="text" th:field ="${user.email}"/>
    <p class="errors" th:errors="${user.email}" style="color:red"></p>
    </label>
    <br>
    <label>Password:
        <input type="password" th:field ="${user.password}"/>
        <p class="errors" th:errors="${user.password}" style="color:red"></p>
    </label>
        <br>
    <label>VerifyPassword:
    <input type="password"  th:field ="${user.verifyPassword}"/>
        <p class="errors" th:errors="${user.verifyPassword}" style="color:red"></p>

    </label><br>
    <input type="submit" value='Sign Up' class="btn btn-success">
</form><br>


</body>
</html>
